@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;1,400&display=swap');
*{
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto', sans-serif;
    background: #fff;
}
header.cabeceraPrincipal{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.logo{
    padding: 1em 3em;
}
.buscador{
    padding: 2em 3em;
}
nav.menuPrincipal{
    color:#fff;
    margin: 0 auto;
    background: #027846;
    padding: 1em;
    text-align: center;
}
nav.menuPrincipal a{
    color: #fff;
    padding: 1em;
    text-decoration: none;
}
nav.menuPrincipal a:hover{
    color:#3FD664;
    background: #F9F9F9;
}
.Slider, .contenedor, .sponsor{
    width: 90%;
    margin: 0 auto;
}
.Slider img{
    width: 100%;
}
.atractivos, .hoteles{
    display: flex;
    justify-content: space-evenly;
}
.titulosH2{
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 0px;
    letter-spacing: 0.235em;
    color: #07BB91;
    height: 50px;
    text-align: center;
    padding: 2em 0 0 0;    
}
.slogan{
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 0px;
    text-align: center;
    letter-spacing: 0.22em;
    color: #655454;
    padding: 0 0 2em 0;
}
.sponsor{
    background-color: #42E396;
    display: flex;
    justify-content: space-evenly;
}
.sponsor img{
    padding: 3em 0;
}
.espacio{
    padding: 2em;
}


.piePagina{
    background-color: #2C2B2B;
    color: #E2E2E2;
    display: flex;
    justify-content: space-evenly;
    font-weight: 300;
    font-size: 13px;
    line-height: 177%;
    letter-spacing: 0.16em;
}
.piePagina section{
    padding: 3em 0;
}
.piePagina a{
    color: #E2E2E2;
    text-decoration: none;
}


.formulario{
    display: flex;
}
.box2{
    width: 95%;
}


.grupoForm{
    width: 95%;
    padding: 0.5em 1em;
}
.horizontal{
    display: flex;
    padding: 1em 0.5em;
}
label{
    color: #4265D6;
    font-size: 12px; 
    display: block;
}
.formulario input, .formulario select{
    width: 95%;
    margin-bottom: 5px;
    height: 32px;
    font-size: 12px;
    line-height: 52px;
    padding-left: 10px;
    border: 1px solid #BBBBBB;
    border-radius: 5px;
}
.formulario input[type="radio"], .formulario input[type="checkbox"] {
    width: 5%;
    margin-bottom: 5px;
    height: 15px;
    font-size: 12px;
    line-height: 52px;
    text-align: center;
    border: 1px solid #BBBBBB;
    border-radius: 5px;
}
form .btn-submit{
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    border: none;
    color: #fff;
    background: #5E7DE3;
    border-radius: 3px;
    font-family: 'Monserrat', sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: .3s ease all;
}
form .btn-submit:hover{
    background: rgba(94,125,227, .9);
}
.identado{
    padding: 0 0 0 20px;
}

.boton1{
    background-color: #0065FC;
    color: #fff;
    border: 1px solid #bbbbbb;
    border-radius: 5px;
    padding: 1em 2em;
}

@media only screen and (max-width: 600px) {
    .atractivos, .hoteles{
        display: block;        
    }
    .atractivos img{
        width: 100%;
    }
    .titulosH2{
        font-style: normal;
        font-weight: 300;
        font-size: 26px;
        line-height: 20px;
        letter-spacing: 0.235em;
        color: #07BB91;
        height: 50px;
        text-align: center;
        padding: 2em 0 0 0;    
    }
    .slogan{
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.22em;
        color: #655454;
        padding: 0 0 2em 0;
    }
    .sponsor{
        display: block;       
        text-align: center; 
    }
    .sponsor img{
        width: 40%;
    }
}